<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.model2.mvc.user.domain.User" alias="User"/>
        <typeAlias type="com.model2.mvc.common.dto.Search" alias="Search"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <!-- Transaction Definition -->
            <transactionManager type="JDBC" />
            <!-- javax.sql.DataSource Definition -->
            <dataSource type="POOLED">
                <property name="driver" value="oracle.jdbc.driver.OracleDriver" />
                <property name="url" value="jdbc:oracle:thin:@127.0.0.1:1521:xe" />
                <property name="username" value="ibatis" />
                <property name="password" value="ibatis" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="sql/UserMapper.xml"/>
    </mappers>
</configuration>