<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.model2.mvc.user.domain.User" alias="User"/>
        <typeAlias type="com.model2.mvc.common.Search" alias="Search"/>
        <typeAlias type="com.model2.mvc.common.ListData" alias="ListData"/>
        <typeAlias type="com.model2.mvc.product.domain.Product" alias="Product"/>
        <typeAlias type="com.model2.mvc.purchase.domain.Purchase" alias="Purchase"/>
        <typeAlias type="com.model2.mvc.purchase.domain.TransactionProduction" alias="TranProd"/>
        <typeAlias type="com.model2.mvc.category.domain.Category" alias="Category"/>
        <typeAlias type="com.model2.mvc.product.domain.ProductImage" alias="ProductImage"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.model2.mvc.common.mybatis.typehandler.PaymentOptionTypeHandler"/>
        <typeHandler handler="com.model2.mvc.common.mybatis.typehandler.TranStatusCodeTypeHandler"/>
        <typeHandler handler="com.model2.mvc.common.mybatis.typehandler.RoleTypeHandler"/>
        <typeHandler handler="com.model2.mvc.common.mybatis.typehandler.OrderByTypeHandler"/>
    </typeHandlers>

    <environments default="development">
        <environment id="development">
            <!-- Transaction Definition -->
            <transactionManager type="JDBC" />
            <!-- javax.sql.DataSource Definition -->
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://localhost:5432/test_miniproject" />
                <property name="username" value="scott" />
                <property name="password" value="tiger" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="sql/user-mapper.xml"/>
        <mapper resource="sql/product-image-mapper.xml"/>
        <mapper resource="sql/product-mapper.xml"/>
        <mapper resource="sql/purchase-mapper.xml"/>
        <mapper resource="sql/category-mapper.xml"/>
    </mappers>
</configuration>