<?xml version="1.0" encoding="EUC-KR" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="callSettersOnNulls" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.model2.mvc.user.domain.User" alias="User"/>
        <typeAlias type="com.model2.mvc.common.dto.Search" alias="Search"/>
    </typeAliases>

    <mappers>
        <mapper resource="sql/UserMapper.xml"/>
    </mappers>
</configuration>