<?xml version="1.0" encoding="EUC-KR" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//en"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">
    <insert id="insert" parameterType="Product" useGeneratedKeys="true" keyColumn="prod_no" keyProperty="prodNo">
        INSERT INTO product
        (
        prod_no,
        prod_name,
        prod_detail,
        manufacture_day,
        price,
        image_file,
        reg_date,
        stock,
        category_no )
        VALUES
        (
        <if test="prodNo != 0">
            #{prodNo}
        </if>
        <if test="prodNo == 0">
            seq_product_prod_no.nextval
        </if>,
        #{prodName: VARCHAR},
        #{prodDetail: VARCHAR},
        #{manuDate: DATE},
        #{price: NUMERIC},
        #{fileName: VARCHAR},
        <if test="regDate != null">
            #{regDate: DATE}
        </if>
        <if test="regDate == null">
            SYSDATE
        </if>,
        #{stock: NUMERIC},
        #{category.categoryNo: NUMERIC} )
    </insert>

    <resultMap id="categoryMap" type="Category" extends="CategoryMapper.categoryMap"/>

    <resultMap id="product" type="Product">
        <id column="prod_no" property="prodNo" jdbcType="NUMERIC"/>
        <result column="prod_name" property="prodName" jdbcType="VARCHAR"/>
        <result column="prod_detail" property="prodDetail" jdbcType="VARCHAR"/>
        <result column="manufacture_day" property="manuDate" jdbcType="DATE"/>
        <result column="price" property="price" jdbcType="NUMERIC"/>
        <result column="image_file" property="fileName" jdbcType="VARCHAR"/>
        <result column="reg_date" property="regDate" jdbcType="DATE"/>
        <result column="stock" property="stock" jdbcType="NUMERIC"/>
        <association property="category" javaType="Category" resultMap="CategoryMapper.categoryMap"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="product">
        SELECT
            p.prod_no         prod_no,
            p.prod_name       prod_name,
            p.prod_detail     prod_detail,
            p.manufacture_day manufacture_day,
            p.price           price,
            p.image_file      image_file,
            p.reg_date        reg_date,
            p.stock           stock,
            c.category_no     category_no,
            c.category_name   category_name
        FROM product p
        LEFT OUTER JOIN category c ON c.category_no = p.category_no
        WHERE p.prod_no = #{value}
    </select>

    <select id="findProductsByIds" parameterType="java.util.List" resultMap="product">
        SELECT
        p.prod_no,
        p.prod_name,
        p.prod_detail,
        p.manufacture_day,
        p.price,
        p.image_file,
        p.reg_date,
        p.stock
        FROM product p
        LEFT OUTER JOIN category c ON c.category_no = p.category_no
        <where>
            <if test="list.size != 0">
                prod_no IN
                <foreach item="id" collection="list" open="(" separator=", " close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <resultMap id="productListData" type="ListData">
        <result column="count" property="count" jdbcType="NUMERIC"/>
        <collection property="list" resultMap="product"/>
    </resultMap>

    <select id="findList" parameterType="map" resultMap="productListData">
        SELECT
        v.prod_no         AS "prod_no",
        v.prod_name       AS "prod_name",
        v.prod_detail     AS "prod_detail",
        v.manufacture_day AS "manufacture_day",
        v.price           AS "price",
        v.image_file      AS "image_file",
        v.reg_date        AS "reg_date",
        v.stock           AS "stock",
        v.category_no     AS "category_no",
        v.category_name   AS "category_name",
        v.count           AS "count"
        FROM
        (
        SELECT
        ROW_NUMBER() OVER(ORDER BY p.prod_no ASC)  row_num,
        p.prod_no         prod_no,
        p.prod_name       prod_name,
        p.prod_detail     prod_detail,
        p.manufacture_day manufacture_day,
        p.price           price,
        p.image_file      image_file,
        p.reg_date        reg_date,
        p.stock           stock,
        c.category_no     category_no,
        c.category_name   category_name,
        COUNT(*) OVER()   count
        FROM
        product p
        LEFT OUTER JOIN category c ON c.category_no = p.category_no
        <where>
            <if test="searchCondition == 1">
                p.prod_name LIKE #{prodName}
            </if>
            <if test="searchCondition == 2">
                <if test="lowerBound != null and upperBound != null">
                    p.price BETWEEN #{lowerBound} AND #{upperBound}
                </if>
                <if test="lowerBound != null and upperBound == null">
                    p.price $gt;= #{lowerBound}
                </if>
                <if test="lowerBound == null and upperBound != null">
                    p.price $lt;= #{upperBound}
                </if>
            </if>
            <if test="categoryNo != null">
                AND c.category_no = #{categoryNo}
            </if>
        </where>
        ORDER BY
        p.reg_date DESC -- Should be flexible
        ) v
        WHERE
        v.row_num BETWEEN #{startRowNum} AND #{endRowNum}
    </select>

    <update id="update" parameterType="Product">
        UPDATE product
        <set>
            <if test="prodName != null">
                prod_name = #{prodName},
            </if>
            <if test="prodDetail != null">
                prod_detail = #{prodDetail},
            </if>
            <if test="manuDate != null">
                manufacture_day = #{manuDate},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="fileName != null">
                image_file = #{fileName},
            </if>
            <if test="regDate != null">
                reg_date = #{regDate},
            </if>
            <if test="stock != null">
                stock = #{stock},
            </if>
            <if test="category != null">
                category_no = #{category.categoryNo}
            </if>
        </set>
        <where>
            prod_no = #{prodNo}
        </where>
    </update>

    <delete id="clear">
        DELETE
        FROM product
    </delete>
</mapper>